body {
  font-family: Arial, sans-serif;
  background-color: #f5f5dc; /* qumrang */
  color: #333;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  background: #006699;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  background: #eafaea; /* yashil fon */
}
